.featured_title {
	grid-column-start: 1;
	grid-column-end: -1;
	width: 100%;
	padding: 10px 0px;
	font-size: 13px;
	color: #fff;
	letter-spacing: -0.7px;
	display: grid;
	grid: 'box fl' auto / 20px 1fr;
}

.title_text {
	position: relative;
	grid-area: box/span 2;
	align-self: center;
	padding-bottom: 7px;

	&::before {
		width: 20px;
		height: 2px;
		position: absolute;
		left: 0;
		bottom: 2px;
		content: ' ';
		background-color: #01abe9;
		box-shadow: 0 0 4px 1px rgba(3, 167, 228, 0.65);
	}
}