/** Upload.js (1.2.0) | https://github.com/georgelee1/Upload.js | MIT */
@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.uploadjs > img,
.uploadjs input,
.uploadjs .item.new.hide,
.uploadjs .item.removed .actions,
.uploadjs .item.removing .actions,
.uploadjs .item.uploading .actions {
    display: none;
}
.uploadjs .item,
.uploadjs .item.new {
    width: 100%;
    height: 100%;
}
.uploadjs .item.removed img,
.uploadjs .item.removing img,
.uploadjs .item.uploading img,
.uploadjs .item:hover:not(.static) img {
    opacity: 0.3;
}
.uploadjs {
    font-size: 0px;
}
.uploadjs .item {
    display: inline-block;
    background-color: #dedede;
    margin-right: 2px;
    margin-bottom: 2px;
    position: relative;
    overflow: hidden;
    -webkit-transition: opacity 0.5s, width 0.5s ease, margin 0.5s;
    transition: opacity 0.5s, width 0.5s ease, margin 0.5s;
    opacity: 1;
}
.uploadjs .item img {
    width: 100%;
    height: 100%;
    border: none;
}
.uploadjs .item.new {
    cursor: pointer;
    vertical-align: top;
}
.uploadjs .item.new .icon {
    position: absolute;
    font-size: 24px;
    line-height: 24px;
    margin-top: -12px;
    width: 100%;
    font-weight: bold;
    text-align: center;
    top: 50%;
    cursor: pointer;
    display: block;
    color: #454545;
}
.uploadjs .item.new .plus::before {
    content: '+';
}
.uploadjs .item.new:hover {
    background-color: tint(#38e, 80%);
}
.uploadjs .item.new:hover .icon {
    color: #38e;
}
.uploadjs .item .actions {
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 0px;
    height: 26px;
    font-size: 16px;
    line-height: 16px;
    color: #333;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    text-align: right;
}
.uploadjs .item .actions .action {
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
    width: 26px;
    height: 26px;
    text-align: center;
}
.uploadjs .item .actions .action:hover {
    color: #38e;
}
.uploadjs .item .progress {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: transparent;
    border-top: 2px solid #38e;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    border-radius: 0px;
    box-shadow: none;
}
.uploadjs .item .spinner {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -16px;
    -webkit-animation: spinner 1250ms infinite linear;
    animation: spinner 1250ms infinite linear;
    border: 2px solid #38e;
    border-right-color: transparent;
    border-radius: 32px;
    box-sizing: border-box;
    overflow: hidden;
    text-indent: -9999px;
    width: 32px;
    height: 32px;
}
.uploadjs .item .icon {
    display: none;
    position: absolute;
    top: 50%;
    left: 0%;
    color: #38e;
    font-size: 16px;
    margin-top: -7px;
    line-height: 16px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}
.uploadjs .item .icon.done,
.uploadjs .item .icon.error {
    color: #ffffff;
    opacity: 1;
    -webkit-transition: opacity 3s;
    transition: opacity 3s;
    display: block;
    font-size: 16px;
    margin-top: -16px;
}
.uploadjs .item .icon.done i,
.uploadjs .item .icon.error i {
    padding: 5px;
    border-radius: 100px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.uploadjs .item .icon.done.going,
.uploadjs .item .icon.error.going {
    opacity: 0;
}
.uploadjs .item .icon.done i {
    background-color: #689f38;
}
.uploadjs .item .icon.done i::after {
    content: '\2713';
    font-size: 25.6px;
    line-height: 25.6px;
}
.uploadjs .item .icon.error i {
    background-color: #e53935;
}
.uploadjs .item .icon.error i::after {
    content: '!';
    font-size: 25.6px;
    line-height: 25.6px;
}
.uploadjs .item .upload::before {
    content: '\21E1';
}
.uploadjs .item .trash::before {
    content: '\2718';
}
.uploadjs .item .action .trash {
    font-size: 1.1em;
}
.uploadjs .item.removed {
    opacity: 0;
    width: 0%;
    margin-right: 0px;
}
.uploadjs .item.removing:not(.stopped) .spinner,
.uploadjs .item.removing:not(.stopped) .icon,
.uploadjs .item.uploading:not(.stopped) .spinner,
.uploadjs .item.uploading:not(.stopped) .icon {
    display: block;
}
.uploadjs .item.removing .upload,
.uploadjs .item.removing:not(.stopped) .upload {
    display: none;
}
.uploadjs .item.uploading .trash,
.uploadjs .item.uploading:not(.stopped) .trash {
    display: none;
}
.uploadjs .item:hover:not(.static) .actions {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
}
.uploadjs.up-fa .icon.error i,
.uploadjs.up-fa .icon.done i,
.uploadjs.up-fa .upload,
.uploadjs.up-fa .trash,
.uploadjs.up-fa .item.new .plus {
    font: normal normal normal 14px/1 FontAwesome;
    line-height: 14px;
    margin-top: -7px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.uploadjs.up-fa .icon.error i::after {
    content: '\f12a';
}
.uploadjs.up-fa .icon.done i::after {
    content: '\f00c';
    margin-left: 0px;
    font-size: 19.2px;
}
.uploadjs.up-fa .upload::before {
    content: '\f0ee';
}
.uploadjs.up-fa .trash::before {
    content: '\f1f8';
}
.uploadjs.up-fa .item.new .plus::before {
    content: '\f067';
}
.uploadjs.up-glyphicons .icon.error i,
.uploadjs.up-glyphicons .icon.done i,
.uploadjs.up-glyphicons .upload,
.uploadjs.up-glyphicons .item .trash,
.uploadjs.up-glyphicons .item.new .plus {
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.uploadjs.up-glyphicons .icon.error i::after {
    content: '\e086';
    font-size: 16px;
    line-height: 23px;
}
.uploadjs.up-glyphicons .icon.done i::after {
    content: '\e013';
    margin-left: 0px;
    font-size: 16px;
}
.uploadjs.up-glyphicons .upload::before {
    content: '\e027';
}
.uploadjs.up-glyphicons .item .trash {
    font-size: 14px;
}
.uploadjs.up-glyphicons .item .action .trash {
    position: relative;
    top: 5px;
}
.uploadjs.up-glyphicons .item .trash::before {
    content: '\e020';
}
.uploadjs.up-glyphicons .item.new .plus::before {
    content: '\002b';
}
.uploadjs.demo7 {
    min-height: 100px;
    position: relative;
}
.uploadjs.demo7 .item {
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.uploadjs.demo7 .item.new {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.uploadjs.demo7 .item.new:hover .icon,
.uploadjs.demo7 .item .action:hover,
.uploadjs.demo7 .item .icon {
    color: #02abea;
}
.uploadjs.demo7 .item .icon.done,
.uploadjs.demo7 .item .icon.error {
    color: #ffffff;
}
.uploadjs.demo7 .spinner {
    border: 2px solid #02abea;
    border-right-color: transparent;
}
.uploadjs.demo7 .item.new .icon {
    color: #fff;
}
.uploadjs.demo7 .item,
.uploadjs.demo7 .item img {
    border-radius: 100%;
}
.uploadjs.demo7 .item .actions {
    text-align: center;
}
.uploadjs.demo7 .progress {
    border-radius: 100px;
    border: none;
    transform: translateX(0%) !important;
    clip: rect(0px, 100px, 100px, 50px);
    opacity: 1;
    transition: opacity 0.5s;
}
.uploadjs.demo7 .progress.done {
    opacity: 0;
}
.uploadjs.demo7 .progress::before,
.uploadjs.demo7 .progress::after {
    content: '.';
    color: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid #c40000;
    border-radius: 100%;
    clip: rect(0px, 50px, 100px, 0px);
    transition: transform 0.2s;
}
.uploadjs.demo7 .progress.p10::before {
    transform: rotate(36deg) !important;
}
.uploadjs.demo7 .progress.p20::before {
    transform: rotate(72deg) !important;
}
.uploadjs.demo7 .progress.p30::before {
    transform: rotate(108deg) !important;
}
.uploadjs.demo7 .progress.p40::before {
    transform: rotate(144deg) !important;
}
.uploadjs.demo7 .progress.p50::before,
.uploadjs.demo7 .progress.p60::before,
.uploadjs.demo7 .progress.p70::before,
.uploadjs.demo7 .progress.p80::before,
.uploadjs.demo7 .progress.p90::before,
.uploadjs.demo7 .progress.p100::before,
.uploadjs.demo7 .progress.p50::after {
    transform: rotate(180deg) !important;
}
.uploadjs.demo7 .progress.p60,
.uploadjs.demo7 .progress.p70,
.uploadjs.demo7 .progress.p80,
.uploadjs.demo7 .progress.p90,
.uploadjs.demo7 .progress.p100 {
    clip: auto;
}
.uploadjs.demo7 .progress.p60::after {
    transform: rotate(216deg) !important;
}
.uploadjs.demo7 .progress.p70::after {
    transform: rotate(252deg) !important;
}
.uploadjs.demo7 .progress.p80::after {
    transform: rotate(288deg) !important;
}
.uploadjs.demo7 .progress.p90::after {
    transform: rotate(324deg) !important;
}
.uploadjs.demo7 .progress.p100::after {
    transform: rotate(360deg) !important;
}
.uploadjs.demo8 .item {
    width: 200px;
    height: 200px;
    vertical-align: middle;
    border-radius: 2px;
}
.uploadjs.demo8 .item.removed {
    width: 0%;
}
.uploadjs.demo8 .item.new {
    display: block;
    width: 100%;
    height: 30px;
}
/*
     FILE ARCHIVED ON 22:56:54 May 19, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:01:20 Mar 18, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 112.998
  exclusion.robots: 0.093
  exclusion.robots.policy: 0.083
  cdx.remote: 0.088
  esindex: 0.01
  LoadShardBlock: 75.069 (3)
  PetaboxLoader3.datanode: 111.988 (5)
  load_resource: 206.83 (2)
  PetaboxLoader3.resolve: 145.453 (2)
*/
