@font-face {
    font-family: 'myFontLight';
    src: url('/web/20200519225652im_/https://www.watchepisodeseries1.com/css/myFontPack/light/myFont.eot');
    src: url('/web/20200519225652im_/https://www.watchepisodeseries1.com/css/myFontPack/light/myFont.eot') format('embedded-opentype'),
    url('/web/20200519225652im_/https://www.watchepisodeseries1.com/css/myFontPack/light/myFont.woff2') format('woff2'),
    url('/web/20200519225652im_/https://www.watchepisodeseries1.com/css/myFontPack/light/myFont.woff') format('woff'),
    url('/web/20200519225652im_/https://www.watchepisodeseries1.com/css/myFontPack/light/myFont.ttf') format('truetype'),
    url('/web/20200519225652im_/https://www.watchepisodeseries1.com/css/myFontPack/light/myFont.svg#myFont') format('svg');
}
@font-face {
    font-family: 'myFontRegular';
    src: url('/web/20200519225652im_/https://www.watchepisodeseries1.com/css/myFontPack/regular/myFont.eot');
    src: url('/web/20200519225652im_/https://www.watchepisodeseries1.com/css/myFontPack/regular/myFont.eot') format('embedded-opentype'),
    url('/web/20200519225652im_/https://www.watchepisodeseries1.com/css/myFontPack/regular/myFont.woff2') format('woff2'),
    url('/web/20200519225652im_/https://www.watchepisodeseries1.com/css/myFontPack/regular/myFont.woff') format('woff'),
    url('/web/20200519225652im_/https://www.watchepisodeseries1.com/css/myFontPack/regular/myFont.ttf') format('truetype'),
    url('/web/20200519225652im_/https://www.watchepisodeseries1.com/css/myFontPack/regular/myFont.svg#myFont') format('svg');
}
@font-face {
    font-family: 'myFontSemibold';
    src: url('/web/20200519225652im_/https://www.watchepisodeseries1.com/css/myFontPack/semibold/myFont.eot');
    src: url('/web/20200519225652im_/https://www.watchepisodeseries1.com/css/myFontPack/semibold/myFont.eot') format('embedded-opentype'),
    url('/web/20200519225652im_/https://www.watchepisodeseries1.com/css/myFontPack/semibold/myFont.woff2') format('woff2'),
    url('/web/20200519225652im_/https://www.watchepisodeseries1.com/css/myFontPack/semibold/myFont.woff') format('woff'),
    url('/web/20200519225652im_/https://www.watchepisodeseries1.com/css/myFontPack/semibold/myFont.ttf') format('truetype'),
    url('/web/20200519225652im_/https://www.watchepisodeseries1.com/css/myFontPack/semibold/myFont.svg#myFont') format('svg');
}
@font-face {
    font-family: 'myFontBold';
    src: url('/web/20200519225652im_/https://www.watchepisodeseries1.com/css/myFontPack/bold/myFont.eot');
    src: url('/web/20200519225652im_/https://www.watchepisodeseries1.com/css/myFontPack/bold/myFont.eot') format('embedded-opentype'),
         url('/web/20200519225652im_/https://www.watchepisodeseries1.com/css/myFontPack/bold/myFont.woff2') format('woff2'),
         url('/web/20200519225652im_/https://www.watchepisodeseries1.com/css/myFontPack/bold/myFont.woff') format('woff'),
         url('/web/20200519225652im_/https://www.watchepisodeseries1.com/css/myFontPack/bold/myFont.ttf') format('truetype'),
         url('/web/20200519225652im_/https://www.watchepisodeseries1.com/css/myFontPack/bold/myFont.svg#myFont') format('svg');
}

/*
     FILE ARCHIVED ON 22:56:52 May 19, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:01:20 Mar 18, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 94.616
  exclusion.robots: 0.125
  exclusion.robots.policy: 0.114
  RedisCDXSource: 0.58
  esindex: 0.008
  LoadShardBlock: 72.752 (3)
  PetaboxLoader3.datanode: 96.951 (5)
  load_resource: 112.076 (2)
  PetaboxLoader3.resolve: 47.06 (2)
*/