.app {
    height: 100%;
    display: grid;
    grid:
        'he he he he he he' auto
        'hn hn hn rv tr fg' auto
        'el mn mn rv tr fg' auto
        / 0px 1fr 1fr 300px 300px 0px;
    column-gap: 15px;
}
